body {
  text-align: center;
  font-family: Helvetica;
}

.title-and-nav {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

p a {
  color: white;
  font-size: 18px;
}
